*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: 'Gabarito',sans-serif;
    font-weight:bold;
}
.navbar{
    padding:10px;
    display:flex;
    flex-wrap:wrap;
    background-color:white;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position:sticky;
    top:0px;
    gap:30px;
    z-index: 1;
}
.navbar__s1__title{
    color:#A435F0;
}
.navbar__s2{
    padding: 10px;
    border:solid black 1px;
    border-radius: 30px;
    width:60%;
    display:flex;
    gap:10px;
        align-items: center;

}
.navbar__s2 input{
    border:none;
    font-size:16px;
    width:100%;
    background-color: transparent;
    
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display:flex;
    gap:10px;
        align-items: center;

    
}
.mylearning{
    position:relative;
    cursor:pointer;
}
.mylearning__popup{
    position:absolute;
    right:0;
    background-color: white;
    border:solid black 1px;
    width:100px;
    padding: 20px;
    display:none;
}
.mylearning:hover .mylearning__popup{
    display:block;
}
.categories{
    display:flex;
    gap:10px;
      flex-wrap: wrap;
    justify-content:space-around;
    padding: 10px;
    border-bottom: solid black 1px;
   
}
.categories p{
     background-color: #A435F0;
     border-radius:30px;
     padding:10px;

}
.sale-image img{
    width:100%;
    position:relative;

}
.sale-image__offer{
    width: 400px;
    height:100px;
    position:absolute;
    border:solid black 2px;  
    top:200px;
    left:10%;
    padding: 10px;

}
.recommended{
    padding: 10px;


}
.recommended__container{

    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
    margin-top: 20px;

}
.course-card{
  width:270px;
  
}
.course-card img{
    height: 50%;
    width:100%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display:flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.topics__container p{
    border:solid grey 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
    margin-top: 20px;

}
.footer{
    padding: 30px;
    background-color: black;
    color:white;
}
.footer__one{
    display:flex;
    gap:10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display:flex;
    justify-content:space-between;
    margin: 20px;
    
}
